body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
html {
  height: 100%;
  background-color: #F4F5F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fab_add_reservation{
  margin: 0px;
  top: auto;
  right: 20px ;
  bottom: 20px;
  left: 60000px;
  z-index: 1;
  position: sticky !important;
}

.edit-reservation{
  float:right;
}
.delete-reservation{
  float: right;
  /* position: sticky !important; */
}

.header-root{
  flex-grow: 10;
  padding-bottom: 5em;
  background-color: #F4F5F7;
}
.menuButton{
  margin-right: 1em;
}
.title{
  flex-grow: 1;
}

.head-appbar{
  position:"sticky" !important;
}

.drawer-list{
  width: 20em;
}

.drawer-list:first-child{
  padding-top: 5em;
}
.drawer-list-element{
  padding: 1em;
}

.dialog_add_new_reservation{
}

.timeline-paper{
padding-top: 10px;
padding-bottom: 10px;
padding-right: 5px;
padding-left: 5px;
text-align: center;
}
.timeline-datepicker{
  text-align: center;
}
.complete-reservation{
float: right;
}

.complete-reservation-icon{
  color: #4caf50;

}

a {
  text-decoration: none;
  color: inherit !important;
}
a:hover {
  text-decoration: none !important;
}

.MuiPaper-elevation4, .MuiPaper-elevation3, .MuiPaper-elevation1 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}